@import "variables";
@import "fonts";

@import "../lib/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    padding: 10px;
}

.title-arrow {
    margin: 0 7px;
}

.img-thumbnail {
    border-width: 3px;
}
